# .flake8
[flake8]
# Максимальная длина строки — как в критериях
max-line-length = 119

# Игнорируем правила, конфликтующие с Black
extend-ignore = E203, W503

# Папки/файлы, которые не проверяются (пути относительно корня)
exclude = .git, __pycache__, venv, .venv, build, dist